@using Nukutaka.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsertCart</title>
</head>
<body>
    <div> 
        @ViewBag.address
    </div>
</body>
</html>
